:root {
    --primary-color: #000000;
    --secondary-color: #000000;
    --background-primary-color: #F5F411;
    --background-secondary-color: #FFFFFF;
    --font-color: #000000;
    --font-size-label: 1rem;
    --font-size-small: 0.8em;
    --font-size-input: 1.7rem;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: "Raleway-heavy", "Roboto", "Oxygen",
        "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}